<% include ../partials/header %>
  <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Yelp Campgrounds</h1>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <hr class="my-4">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New campground</a>
      </div>
      <div class="row">
        <% campgrounds.forEach((campground) => { %>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card bg-info text-white">
              <img class="card-img-top" src="<%= campground.img %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.about.substring(0,100) %></p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        <% }) %>

      </div>
  </div>


<% include ../partials/footer %>
